.container {
    width: 42px;
    height: 24px;
    border: 1.5px solid #38bd7d;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
    position: relative;
    cursor: pointer;
}

.icon {
    font-size: 12px;
}

.toggle {
    width: 16px;
    height: 16px;
    background-color: #38bd7d;
    border-radius: 50%;
    position: absolute;
}